<div class="admin">
    <h3 class="title">Lista de Usuarios</h3>


    <div class="card-deck" >
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-block" *ngFor="let usuario of administracion ">
            <h4 class="card-title">{{usuario.first_name}}</h4>
            <p class="card-text">{{usuario.last_name}}</p>
            <p class="card-text">{{usuario.email}}</p>
            <p class="card-text"><small class="text-muted">{{usuario.gender}}</small></p>
          </div>
        </div>
      </div>

    <button class="btn btn-primary" (click)="ngOnInit()">
    Obten toda la Info
    </button>

<!-- <div>
    <h2>{{administracion.email}}</h2>

</div> -->
<!-- 
    <button class="btn btn-primary" (click)="getAdministracion()">
    Obten la Info
    </button> -->

</div>

