<div class="row formulario">
    <div class="col col-md"></div>
    <div class="col-10 col-md-6">
        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
            <h4 class="title">REGISTRATE</h4>
            <label>Correo</label>
            <input type="mail" class="form-control" id="inputEmail" autofocus
            formControlName="email">
            <p class="alert alert-danger" *ngIf="erroresForm.email">
                {{ erroresForm.email }}
            </p>
            <label>Contraseña</label>
            <input type="password" class=form-control 
            id="inputPassword"
            formControlName="password">
            <p class="alert alert-danger" *ngIf="erroresForm.password">
                {{ erroresForm.password }}
            </p>
            <hr>
            <button type="submit" class="btn btn-primary color"> Registrar</button>
        </form>
        <p class="gray distancia">¿Ya tienes una cuenta? <a routerLink="/inises" class="black">Inicia Sesión</a></p>
    </div>
    <div class="col col-md"></div>
    <img src="https://i.pinimg.com/564x/de/6d/ba/de6dba741ff5b5dd3de86b0c854f8823.jpg">
</div>
